@model SpeedTyper.WebUI.Models.LeaderboardViewModels.HighestRankedPlayersModel
@{ System.Collections.Generic.List<SpeedTyper.DataObjects.Rank> rankList = Model.Ranks;}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopPlayers.FirstOrDefault().DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopPlayers.FirstOrDefault().RankID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopPlayers.FirstOrDefault().CurrentXP)
        </th>
    </tr>

@foreach (var item in Model.TopPlayers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @{var source = "";}
            @if (item.RankID < 10)
                {
                    source = "../Content/Icons/Rank0" + item.RankID + ".png";
                }
                else
                {
                    source = "../Content/Icons/Rank" + item.RankID + ".png";
                }
            @{ var rankName = rankList.Find(r => r.RankID == item.RankID);}
            <img src=@source alt="@rankName" title="@rankName" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentXP)
        </td>
    </tr>
}

</table>
