@model IEnumerable<SpeedTyper.DataObjects.TestResult>
@{ SpeedTyper.LogicLayer.RankManager rankManager = new SpeedTyper.LogicLayer.RankManager();}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Rank
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RankID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WPM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
    @{ int count = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @count.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @{var source = "";}
                @if (item.RankID < 10)
                {
                    source = "../Content/Icons/Rank0" + item.RankID + ".png";

                }
                else
                {
                    source = "../Content/Icons/Rank" + item.RankID + ".png";
                }
                @{ var rankName = rankManager.RetrieveUserRankName(item.RankID);}
                <img src=@source alt="@rankName" title="@rankName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WPM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
                        count++;
                    }

</table>
