@model SpeedTyper.WebUI.Models.LeaderboardViewModels.TestResultsModel
@{ System.Collections.Generic.List<SpeedTyper.DataObjects.Rank> rankList = Model.Ranks;}

<table class="table table-hover">
    <tr>
        <th title="Leaderboard Rank">#</th>
        <th>@Html.DisplayNameFor(model => model.TopTestResults.FirstOrDefault().DisplayName)</th>
        <th>@Html.DisplayNameFor(model => model.TopTestResults.FirstOrDefault().RankID)</th>
        <th title="Words Per Minute">@Html.DisplayNameFor(model => model.TopTestResults.FirstOrDefault().WPM)</th>
        <th>@Html.DisplayNameFor(model => model.TopTestResults.FirstOrDefault().Date)</th>
    </tr>
    @{ int count = 1;}
    @foreach (var item in Model.TopTestResults)
            {
        <tr>
            <td>@count.</td>
            <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
            <td>
                @{var source = "";}
                @if (item.RankID < 10)
                {
                    source = "../Content/Icons/Rank0" + item.RankID + ".png";
                }
                else
                {
                    source = "../Content/Icons/Rank" + item.RankID + ".png";
                }
                @{ var rankName = rankList.Find(r => r.RankID == item.RankID).RankName;}
                @if (item.RankID > 0)
                {
                    <img src=@source alt="@rankName" title="@rankName" />
                }
                else
                {
                    @rankName
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.WPM)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
        </tr>
                        count++;
                    }
</table>

